#af-form-668219434 .af-body .af-textWrap {
  width: 98%;
  display: block;
  float: none;
}
#af-form-668219434 .af-body a {
  color: #094c80;
  text-decoration: underline;
  font-style: normal;
  font-weight: normal;
}
#af-form-668219434 .af-body input.text,
#af-form-668219434 .af-body textarea {
  background-color: #ffffff;
  border-color: #000000;
  border-width: 1px;
  border-style: solid;
  color: #000000;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  font-family: Trebuchet MS, sans-serif;
}
#af-form-668219434 .af-body input.text:focus,
#af-form-668219434 .af-body textarea:focus {
  background-color: #fffad6;
  border-color: #030303;
  border-width: 1px;
  border-style: solid;
}
#af-form-668219434 .af-body label.previewLabel {
  display: block;
  float: none;
  text-align: left;
  width: auto;
  color: #000000;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  font-family: Trebuchet MS, sans-serif;
}
#af-form-668219434 .af-body {
  padding-bottom: 15px;
  padding-top: 15px;
  background-repeat: no-repeat;
  background-position: left;
  background-image: none;
  color: #000000;
  font-size: 9px;
  font-family: Verdana, sans-serif;
}
#af-form-668219434 .af-quirksMode .bodyText {
  padding-top: 2px;
  padding-bottom: 2px;
}
#af-form-668219434 .af-quirksMode {
  padding-right: 30px;
  padding-left: 30px;
}
#af-form-668219434 .af-standards .af-element {
  padding-right: 30px;
  padding-left: 30px;
}
#af-form-668219434 .bodyText p {
  margin: 1em 0;
}
#af-form-668219434 .buttonContainer input.submit {
  background-image: none;
  background-color: #89231e;
  color: #ffffff;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  font-family: Trebuchet MS, sans-serif;
}
#af-form-668219434 .buttonContainer input.submit {
  width: auto;
}
#af-form-668219434 .buttonContainer {
  text-align: left;
}
#af-form-668219434 body,
#af-form-668219434 dl,
#af-form-668219434 dt,
#af-form-668219434 dd,
#af-form-668219434 h1,
#af-form-668219434 h2,
#af-form-668219434 h3,
#af-form-668219434 h4,
#af-form-668219434 h5,
#af-form-668219434 h6,
#af-form-668219434 pre,
#af-form-668219434 code,
#af-form-668219434 fieldset,
#af-form-668219434 legend,
#af-form-668219434 blockquote,
#af-form-668219434 th,
#af-form-668219434 td {
  float: none;
  color: inherit;
  position: static;
  margin: 0;
  padding: 0;
}
#af-form-668219434 button,
#af-form-668219434 input,
#af-form-668219434 submit,
#af-form-668219434 textarea,
#af-form-668219434 select,
#af-form-668219434 label,
#af-form-668219434 optgroup,
#af-form-668219434 option {
  float: none;
  position: static;
  margin: 0;
}
#af-form-668219434 div {
  margin: 0;
}
#af-form-668219434 fieldset {
  border: 0;
}
#af-form-668219434 form,
#af-form-668219434 textarea,
.af-form-wrapper,
.af-form-close-button,
#af-form-668219434 img {
  float: none;
  color: inherit;
  position: static;
  background-color: none;
  border: none;
  margin: 0;
  padding: 0;
}
#af-form-668219434 input,
#af-form-668219434 button,
#af-form-668219434 textarea,
#af-form-668219434 select {
  font-size: 100%;
}
#af-form-668219434 p {
  color: inherit;
}
#af-form-668219434 select,
#af-form-668219434 label,
#af-form-668219434 optgroup,
#af-form-668219434 option {
  padding: 0;
}
#af-form-668219434 table {
  border-collapse: collapse;
  border-spacing: 0;
}
#af-form-668219434 ul,
#af-form-668219434 ol {
  list-style-image: none;
  list-style-position: outside;
  list-style-type: disc;
  padding-left: 40px;
}
#af-form-668219434,
#af-form-668219434 .quirksMode {
  width: 100%;
  max-width: 588px;
}
#af-form-668219434.af-quirksMode {
  overflow-x: hidden;
}
#af-form-668219434 {
  background-color: #ffffff;
  border-color: #ffffff;
  border-width: 1px;
  border-style: solid;
}
#af-form-668219434 {
  display: block;
}
#af-form-668219434 {
  overflow: hidden;
}
.af-body .af-textWrap {
  text-align: left;
}
.af-body input.image {
  border: none !important;
}
.af-body input.submit,
.af-body input.image,
.af-form .af-element input.button {
  float: none !important;
}
.af-body input.submit {
  white-space: inherit;
}
.af-body input.text {
  width: 100%;
  float: none;
  padding: 2px !important;
}
.af-body.af-standards input.submit {
  padding: 4px 12px;
}
.af-clear {
  clear: both;
}
.af-element label {
  text-align: left;
  display: block;
  float: left;
}
.af-element {
  padding-bottom: 5px;
  padding-top: 5px;
}
.af-form-wrapper {
  text-indent: 0;
}
.af-form {
  box-sizing: border-box;
  text-align: left;
  margin: auto;
}
.af-quirksMode .af-element {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.lbl-right .af-element label {
  text-align: right;
}
