#af-form-668219434 .af-body .af-textWrap,
#af-form-668219434 .af-body .af-checkWrap {
  width: 98%;
  display: block;
  float: none;
}
#af-form-668219434 .af-body .privacyPolicy {
  color: #444444;
  font-size: 16px;
  font-family: Helvetica, sans-serif;
}
#af-form-668219434 .af-body a {
  color: #777777;
  text-decoration: underline;
  font-style: normal;
  font-weight: normal;
}
#af-form-668219434 .af-body input.text,
#af-form-668219434 .af-body textarea {
  background-color: #ebf0f2;
  border-color: #d6dee3;
  border-width: 2px;
  border-style: solid;
  color: #444444;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  font-family: Trebuchet MS, sans-serif;
}
#af-form-668219434 .af-body input.text:focus,
#af-form-668219434 .af-body textarea:focus {
  background-color: #abdaef;
  border-color: #d6dee3;
  border-width: 1px;
  border-style: solid;
}
#af-form-668219434 .af-body label.choice {
  color: #000000;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: inherit;
  font-family: inherit;
}
#af-form-668219434 .af-body label.previewLabel {
  display: block;
  float: none;
  text-align: left;
  width: auto;
  color: #444444;
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  font-family: Helvetica, sans-serif;
}
#af-form-668219434 .af-body {
  padding-bottom: 10px;
  padding-top: 10px;
  background-repeat: no-repeat;
  background-position: inherit;
  background-image: none;
  color: #444444;
  font-size: 16px;
  font-family: Helvetica, sans-serif;
}
#af-form-668219434 .af-footer {
  padding-bottom: 10px;
  padding-top: 10px;
  padding-right: 15px;
  padding-left: 15px;
  background-color: #ebf0f2;
  background-repeat: no-repeat;
  background-position: top left;
  background-image: none;
  border-width: 1px;
  border-bottom-style: none;
  border-left-style: none;
  border-right-style: none;
  border-top-style: none;
  color: #444444;
  font-size: 16px;
  font-family: Helvetica, sans-serif;
}
#af-form-668219434 .af-header {
  padding-bottom: 5px;
  padding-top: 20px;
  padding-right: 15px;
  padding-left: 15px;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: inherit;
  background-image: none;
  border-width: 1px;
  border-bottom-style: none;
  border-left-style: none;
  border-right-style: none;
  border-top-style: none;
  color: #444444;
  font-size: 16px;
  font-family: Helvetica, sans-serif;
}
#af-form-668219434 .af-quirksMode .bodyText {
  padding-top: 2px;
  padding-bottom: 2px;
}
#af-form-668219434 .af-quirksMode {
  padding-right: 20px;
  padding-left: 20px;
}
#af-form-668219434 .af-standards .af-element {
  padding-right: 20px;
  padding-left: 20px;
}
#af-form-668219434 .bodyText p {
  margin: 1em 0;
}
#af-form-668219434 .buttonContainer input.submit {
  background-image: none;
  background-color: #333333;
  color: #ffffff;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  font-family: Helvetica, sans-serif;
}
#af-form-668219434 .buttonContainer input.submit {
  width: auto;
}
#af-form-668219434 .buttonContainer {
  text-align: center;
}
#af-form-668219434 body,
#af-form-668219434 dl,
#af-form-668219434 dt,
#af-form-668219434 dd,
#af-form-668219434 h1,
#af-form-668219434 h2,
#af-form-668219434 h3,
#af-form-668219434 h4,
#af-form-668219434 h5,
#af-form-668219434 h6,
#af-form-668219434 pre,
#af-form-668219434 code,
#af-form-668219434 fieldset,
#af-form-668219434 legend,
#af-form-668219434 blockquote,
#af-form-668219434 th,
#af-form-668219434 td {
  float: none;
  color: inherit;
  position: static;
  margin: 0;
  padding: 0;
}
#af-form-668219434 button,
#af-form-668219434 input,
#af-form-668219434 submit,
#af-form-668219434 textarea,
#af-form-668219434 select,
#af-form-668219434 label,
#af-form-668219434 optgroup,
#af-form-668219434 option {
  float: none;
  position: static;
  margin: 0;
}
#af-form-668219434 div {
  margin: 0;
}
#af-form-668219434 fieldset {
  border: 0;
}
#af-form-668219434 form,
#af-form-668219434 textarea,
.af-form-wrapper,
.af-form-close-button,
#af-form-668219434 img {
  float: none;
  color: inherit;
  position: static;
  background-color: none;
  border: none;
  margin: 0;
  padding: 0;
}
#af-form-668219434 input,
#af-form-668219434 button,
#af-form-668219434 textarea,
#af-form-668219434 select {
  font-size: 100%;
}
#af-form-668219434 p {
  color: inherit;
}
#af-form-668219434 select,
#af-form-668219434 label,
#af-form-668219434 optgroup,
#af-form-668219434 option {
  padding: 0;
}
#af-form-668219434 table {
  border-collapse: collapse;
  border-spacing: 0;
}
#af-form-668219434 ul,
#af-form-668219434 ol {
  list-style-image: none;
  list-style-position: outside;
  list-style-type: disc;
  padding-left: 40px;
}
#af-form-668219434,
#af-form-668219434 .quirksMode {
  width: 100%;
  max-width: 418px;
}
#af-form-668219434.af-quirksMode {
  overflow-x: hidden;
}
#af-form-668219434 {
  background-color: #ffffff;
  border-color: #cfcfcf;
  border-width: 1px;
  border-style: none;
}
#af-form-668219434 {
  display: block;
}
#af-form-668219434 {
  overflow: hidden;
}
.af-body .af-textWrap {
  text-align: left;
}
.af-body input.image {
  border: none !important;
}
.af-body input.submit,
.af-body input.image,
.af-form .af-element input.button {
  float: none !important;
}
.af-body input.submit {
  white-space: inherit;
}
.af-body input.text {
  width: 100%;
  float: none;
  padding: 2px !important;
}
.af-body.af-standards input.submit {
  padding: 4px 12px;
}
.af-clear {
  clear: both;
}
.af-element label {
  text-align: left;
  display: block;
  float: left;
}
.af-element-checkbox .choice {
  display: inline;
}
.af-element-checkbox label,
.af-element-checkbox input.checkbox {
  display: inline !important;
  float: none !important;
}
.af-element {
  padding-bottom: 5px;
  padding-top: 5px;
}
.af-form-wrapper {
  text-indent: 0;
}
.af-form {
  box-sizing: border-box;
  text-align: left;
  margin: auto;
}
.af-header,
.af-footer {
  margin-bottom: 0;
  margin-top: 0;
  padding: 10px;
}
.af-quirksMode .af-element {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.lbl-right .af-element label {
  text-align: right;
}
body {
}
#af-form-668219434 {
  border-radius: 6px !important;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 2px;
  font-size: 16px;
}
#af-form-668219434 .af-body {
}
#af-form-668219434 .af-body .af-element {
  margin-top: 1rem !important;
  padding-top: 0;
  padding-bottom: 2px;
}
#af-form-668219434 .af-body .af-element:first-child {
  margin-top: 0 !important;
}
#af-form-668219434 .af-body label.previewLabel {
  margin-bottom: 0.25rem !important;
}
#af-form-668219434 .af-body input.text {
  border-bottom: none !important;
  border-left: none !important;
  border-right: none !important;
  border-radius: 3px !important;
  box-sizing: border-box !important;
  margin-top: 0.25rem !important;
  padding: 8px 12px !important;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
#af-form-668219434 .af-body input.text:focus {
  outline: none;
}
#af-form-668219434 .af-body select {
  width: 100%;
}
#af-form-668219434 .af-body .af-dateWrap select {
  width: 33%;
}
#af-form-668219434 .choiceList-radio-stacked {
  margin-bottom: 1rem !important;
  width: 100% !important;
}
#af-form-668219434 .af-element-radio {
  margin: 0 !important;
}
#af-form-668219434 .af-element-radio input.radio {
  display: inline;
  height: 0;
  opacity: 0;
  overflow: hidden;
  width: 0;
}
#af-form-668219434 .af-element-radio input.radio:checked ~ label {
  font-weight: 700 !important;
}
#af-form-668219434 .af-element-radio input.radio:focus ~ label {
  box-shadow: inset 0 0 0 2px rgba(25, 35, 70, 0.25);
}
#af-form-668219434 .af-element-radio input.radio:checked ~ label:before {
  background-color: #777777;
  border-color: #d6dee3;
}
#af-form-668219434 .af-element-radio label.choice {
  border: 1px solid #d6dee3;
  border-radius: 3px !important;
  display: block !important;
  font-weight: 300 !important;
  margin: 0.5rem 0 !important;
  padding: 1rem 1rem 1rem 2rem !important;
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
#af-form-668219434 .af-element-radio label.choice:before {
  background-color: #fff;
  border: 1px solid #d6dee3;
  border-radius: 50%;
  content: "";
  height: 0.75rem;
  margin-left: -1.3rem;
  position: absolute;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  width: 0.75rem;
}
#af-form-668219434 .buttonContainer {
  box-sizing: border-box !important;
}
#af-form-668219434 .af-footer {
  box-shadow: inset rgba(0, 0, 0, 0.1) 0 6px 6px -6px;
  box-sizing: border-box !important;
}
#af-form-668219434 .af-footer p {
  margin: 0 !important;
}
#af-form-668219434 input.submit,
#af-form-668219434 #webFormSubmitButton {
  background-image: none;
  border: none;
  border-radius: 3px !important;
  margin-top: 0.5rem !important;
  padding: 0.6rem 2.5rem !important;
  -webkit-appearance: none;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  width: 100% !important;
}
#af-form-668219434 input.submit:hover,
#af-form-668219434 #webFormSubmitButton:hover {
  cursor: pointer;
  opacity: 0.9;
}
#af-form-668219434 input.text {
  border-radius: 3px !important;
  margin-top: 0.5rem !important;
  padding: 0.6rem 2.5rem !important;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  width: 100% !important;
}
#af-form-668219434 input.text:hover {
  cursor: pointer;
  opacity: 0.9;
}

.poweredBy a,
.privacyPolicy p {
  font-size: 0.75rem !important;
}
