.wpcf7 {
  background-color: rgb(235, 235, 235);
  padding: 2rem;

  input[type="text"],
  input[type="email"],
  input[type="tel"] {
    // width: 100%;
    padding: 1rem;
    border-radius: 4px;
    max-width: 100%;
    border: 1px solid lightgray;
  }

  input[type="file"] {
    // width: 100%;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border-radius: 4px;
    background-color: white;
    max-width: 100%;
    border: 1px solid lightgray;
  }

  input[type="submit"] {
    text-transform: uppercase;
    font-size: 1.4rem;
    color: white;
    padding: 1rem;
    margin: 0.5rem 0;
    border-radius: 4px;
    background-color: $color-primary-red;
    cursor: pointer;
    transition: all 0.5s;
    max-width: 100%;
    border: 1px solid lightgray;

    &:hover {
      transform: translateY(-1px);
    }

    &:active {
      transform: translateY(0);
    }
  }

  textarea {
    font-family: futura-pt, sans-serif;
    font-size: 1.8rem;
    padding: 1rem;
    border-radius: 4px;
    max-width: 100%;
    border: 1px solid lightgray;
  }

  p {
    font-size: 1.8rem;
    text-transform: uppercase;
    color: $color-primary-red;
  }

  span {
    color: $color-primary-red;
  }

  label {
    color: $color-primary-green;
  }
}
