.top-notification-banner {
  width: 100%;
  margin-bottom: -1.5rem;
  background-color: $color-black;
  p {
    color: $color-white;
    font-size: 1.4rem;
    text-align: center;
    text-transform: uppercase;
    padding: 0.5rem 0;
  }
  a {
    color: $color-white;
    text-decoration: none;
  }
  a:hover {
    color: $color-white;
    text-decoration: underline;
  }
}
